<div class="link-item mb-3">
    <div class="link-top d-flex justify-content-between align-items-center">
        <h5>Link #{{linkNumber}}</h5>
        <div class="ops-icons">
            <i class="fa fa-trash me-2" (click)="deleteLink()" aria-hidden="true"></i>
            <i class="fa fa-save" (click)="saveLink()"></i>
        </div>
    </div>
    <form class="link-form" *ngIf="linkForm" [formGroup]="linkForm!">
        <div class="mb-3">
            <label for="link-type" class="mb-2" [ngClass]="{'error-label': linkType?.invalid && (linkType?.touched || linkType?.dirty)}">Platform*</label>
            <div class="select-link-type row">
                <p-dropdown
                    [options]="linkOptions"
                    formControlName="linkType"
                    class="link-dropdown col-sm-12 row"
                    [ngClass]="{'error-label': linkType?.invalid && (linkType?.touched || linkType?.dirty)}"
                    optionLabel="name"
                    placeholder="Select a link type">
                        <ng-template pTemplate="selectedItem" let-selected>
                            <div class="flex">
                                <img [src]="fetchLinkDetails(selected).icon" class="link-type-item-icon me-2"/>
                                <span>{{ fetchLinkDetails(selected).name }}</span>
                            </div>
                        </ng-template>
                        <ng-template let-linkOptionType pTemplate="item" class="col-sm-12">
                            <div class="flex">
                                <img
                                    [src]="fetchLinkDetails(linkOptionType).icon"
                                    class="link-type-item-icon me-2"/>
                                <span>{{ fetchLinkDetails(linkOptionType).name }}</span>
                            </div>
                        </ng-template>
                </p-dropdown>
                <span class="error-message" *ngIf="linkType?.invalid && (linkType?.touched || linkType?.dirty) && linkType?.hasError('required')">Can't be empty</span>
            </div>
        </div>
        <div class="">
            <label for="link-url" class="mb-2" [ngClass]="{'error-label': linkUrl?.invalid && (linkUrl?.touched || linkUrl?.dirty)}">Link*</label>
            <div class="link-url-input row">
                <p-iconField iconPosition="left" class="col-sm-12">
                    <p-inputIcon styleClass="pi pi-link" />
                    <input type="text" pInputText placeholder="Search" formControlName="linkUrl" class="link-url-text col-sm-12"/>
                </p-iconField>
                <span class="error-message" *ngIf="linkUrl?.invalid && (linkUrl?.touched || linkUrl?.dirty) && linkUrl?.hasError('required')">Can't be empty</span>
            </div>
        </div>
    </form>
</div>
