.link-item {
    background: #FAFAFA;
    padding: 0.8rem;
    border-radius: 10px;
    color: #737373;
}

i {
    font-size: 1.5rem;
    cursor: pointer;
}

.select-link-type, .link-url-input {
    display: flex;
    justify-content: center;
    width: 100%;
}

.link-url-text {
    width: 100%;
}

::ng-deep .error-label .p-dropdown {
    border: 1px solid red !important;
    box-shadow: 0 0 8pt 5pt  rgb(244, 221, 225);
}