<div class="profile-edit-content">
    <h2>Profile Details</h2>
    <p class="mb-4">Add your details to create a personal touch to your profile.</p>
    <div class="profile-pic-content row mb-3 d-flex">
        <p class="profile-pic-label px-0 col-sm-3 align-self-center">Profile picture</p>
        <div class="col-sm-9 img-content">
            <img src="images/empty_profile_image.png" alt="" class="profile-img">
            <p class="img-rule">Image must be below 1024x1024px. Use PNG or JPG format.</p>
            <label class="select-img">
                <span class="text-center"><i class="pi pi-upload me-2"></i> Select image</span>
                <input type="file" accept="image/*" class="d-none" (change)="onFileSelected($event)">
            </label>
        </div>
    </div>
    <div class="personal-details mb-3">
        <form class="profile-edit-form" *ngIf="profileForm" [formGroup]="profileForm!">
            <div class="mb-2 row">
                <label for="inputFirstName" class="col-sm-3 col-form-label" [ngClass]="{'error-label': firstname?.invalid && (firstname?.touched || firstname?.dirty)}">First name*</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputFirstName" placeholder="e.g. John" formControlName="firstname">
                    <span *ngIf="firstname?.invalid && (firstname?.touched || firstname?.dirty) && firstname?.hasError('required')" class="error-message">Can't be empty</span>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="inputLastName" class="col-sm-3 col-form-label" [ngClass]="{'error-label': lastname?.invalid && (lastname?.touched || lastname?.dirty)}">Last name*</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputLastName" placeholder="e.g. Appleseed" formControlName="lastname">
                    <span *ngIf="lastname?.invalid && (lastname?.touched || lastname?.dirty) && lastname?.hasError('required')" class="error-message">Can't be empty</span>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="inputEmail" class="col-sm-3 col-form-label" [ngClass]="{'error-label': email?.invalid && (email?.touched || email?.dirty)}">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail" placeholder="e.g. email@example.com" formControlName="email">
                    <span *ngIf="email?.invalid && (email?.touched || email?.dirty) && email?.hasError('email')" class="error-message">Not a valid email</span>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <button class="dark-button" (click)="updateProfile()" [disabled]="profileForm?.invalid" [ngClass]="{'disabled-button': profileForm?.invalid}">Save</button>
</div>