.profile-edit-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile-pic-content, .personal-details {
    background: #FAFAFA;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

.img-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}

.profile-pic-label, .col-form-label {
    font-size: 1rem;
    color: #737373;
}

.img-input {
    display: flex;
    justify-content: space-between;
}

.profile-upload-img {
    padding: 1rem;
}

img {
    width: 15%;
}

.select-img {
    background-color: #633CFF;
    cursor: pointer;
    color: #FAFAFA;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}


p {
    font-size: 13px;
}

.dark-button {
    width: 15%;
    font-size: 20px;
    align-self: flex-end;
}

.profile-img {
    width: 30%;
}

.img-rule {
    margin-top: 0.5rem;
    font-size: 0.7rem;
}

@media (max-width: 529px) {
    .dark-button {
        width: 20%;
    }
}
