<div class="phone-mockup-section">
    <div class="outerline">
        <div class="innerline">
            <div class="front-camera"></div>

            <div class="empty-img"></div>

            @if (!user || (!user.firstname && !user.lastname)) {
                 <div class="name empty-name"></div>
            }
            @else {
                <h4 class="name full-name">{{ user.firstname }} {{ user.lastname }}</h4>
            }

            @if (!user || (!user.email)) {
                <div class="email empty-email"></div>
            }
            @else {
                <h6 class="email">{{ user.email }}</h6>
            }

            <div class="link-cards">
                @if (!user || !userLinks || userLinks.length == 0) {
                    <div class="empty-card"></div>
                    <div class="empty-card"></div>
                    <div class="empty-card"></div>
                    <div class="empty-card"></div>
                    <div class="empty-card"></div>
                }
                @else {
                    @for (link of userLinks; track link.id) {
                        <a [href]="link.link_url" target="_blank" class="d-flex justify-content-between link-card" [ngClass]="{'frontendmentor': link.link_type === 'frontendMentor'}" [ngStyle]="{'backgroundColor': fetchLinkDetails(link.link_type).color}">
                            <div>
                                <img [src]="fetchLinkDetails(link.link_type).white_icon" class="link-type-item-icon me-2"/>
                                <span>{{ fetchLinkDetails(link.link_type).name }}</span>
                            </div>
                            <i class="fa fa-solid fa-arrow-right"></i>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>