<div class="header-section">
    <div class="header-items">
        <img [src]="'images/logo-devlinks-large.svg'" alt="" class="logo-large">
        <img [src]="'images/logo-devlinks-small.svg'" alt="" class="logo-small">
        <div class="main-menu">
            <a class="main-menu-item item-1 me-2" routerLink="/home" routerLinkActive="menu-item-active"
             [routerLinkActiveOptions]="{ exact: true }">
                <img src="images/icon-links-header.svg" alt="" class="main-menu-icon me-1" routerLinkActive="menu-icon-active"
                    [routerLinkActiveOptions]="{ exact: true }">
                <h5 class="main-menu-tab pt-2">Links</h5>
            </a>
            <a class="main-menu-item item-2 me-2" routerLink="/home/profile" routerLinkActive="menu-item-active">
                <img src="images/icon-profile-details-header.svg" alt="" class="main-menu-icon me-1"
                    routerLinkActive="menu-icon-active">
                <h5 class="main-menu-tab pt-2">Profile Details</h5>
            </a>
            <a class="main-menu-item item-3" [routerLink]="['/preview', userId]" routerLinkActive="menu-item-active">
                    <i class="fa fa-eye main-menu-icon me-1"
                    routerLinkActive="menu-icon-active"></i>
                <h5 class="main-menu-tab pt-2">Preview</h5>
            </a>
        </div>
        <a class="light-button" (click)="logout()"><i class="fa fa-sign-out"></i> <span class="light-button-text">logout</span></a>
    </div>
</div>