.header-section {
    background: white;
    margin: 0 auto;
    width: 97%;
    border-radius: 0.5rem;
}

.header-items {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 2rem auto;
    padding: 0.7rem;
}

.logo-small {
    display: none;
}

.main-menu {
    display: flex;
    text-wrap: nowrap;
    width: 20%;
    align-items: center;
}

.main-menu-item {
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

.menu-icon-active, .highlighted {
    filter: invert(30%) sepia(100%) saturate(6096%) hue-rotate(248deg) brightness(93%) contrast(88%);
}

.main-menu-icon, .main-menu-tab {
    height: 100%;
}

.main-menu-tab-highlight {
    color: #633CFF;
}


@media (min-width: 500px) and (max-width: 750px) {
    .header-items {
        margin: 1rem auto;
        padding: 0.2rem;
    }
    
    .logo-large{
        width: 25%;
    }

    .main-menu {
        display: flex;
        text-wrap: nowrap;
        width: 10%;
        align-items: center;
        margin-right: 7rem;
    }

    h5 {
        font-size: 12px;
    }

    .light-button {
        border-radius: 6px;
        font-size: 12px;
        padding: 5px 9px;
    }
}

@media (max-width: 499px) {
    .header-items {
        margin: 1rem auto;
        padding: 0.2rem;
    }
    
    .logo-large{
        display: none;
    }

    .logo-small {
        display: block;
    }

    .main-menu {
        width: 10%;
        margin-right: 2rem;
    }

    h5 {
        display: none;
    }

    .light-button {
        border-radius: 6px;
        font-size: 12px;
        padding: 5px 9px;
    }
}
  