.lower-section {
    margin: 0 auto;
    width: 97%;
    display: flex;
    gap: 1%;
}

phone-mockup {
    width: 40%;
}

.main-content {
    background: white;
    width: 55%;
    padding: 1rem;
    border-radius: 1rem;
}