<div class="preview-section">
    <div class="upper-preview">
        <div class="preview-header">
            <button class="light-button" (click)="navigateToEditor()">Back to Editor</button>
            <button class="dark-button p-2">Share link</button>
        </div>
    </div>
    <div class="preview-card mx-auto">
        <div class="preview-content">
            <img src="images/empty_profile_image.png" class="empty-img" alt="">
            <h2 class="mb-3 mt-4">{{ user?.firstname}} {{ user?.lastname  }}</h2>
            <p class="mb-5">{{ user?.email }}</p>
            <!-- <div class="link-bar mb-3" *ngFor="let link of linkItems" [ngStyle]="{'background-color': link.color}">
                <div class="link-details">
                    <img [src]="getlinkIcon(link)" alt="" class="link-icon">
                    <h6 class="pt-2 ms-1">{{ link.name }}</h6>
                </div>
                <img src="images/icon-arrow-right.svg" alt="">
            </div> -->
            <div class="link-cards">
                @if (!user || !links || links.length == 0) {
                    <div class="empty-card"></div>
                    <div class="empty-card"></div>
                    <div class="empty-card"></div>
                    <div class="empty-card"></div>
                    <div class="empty-card"></div>
                }
                @else {
                    @for (link of links; track link.id) {
                        <a [href]="link.link_url" target="_blank" class="d-flex justify-content-between link-card" [ngClass]="{'frontendmentor': link.link_type === 'frontendMentor'}" [ngStyle]="{'backgroundColor': fetchLinkDetails(link.link_type).color}">
                            <div>
                                <img [src]="fetchLinkDetails(link.link_type).icon" class="link-type-item-icon me-2"/>
                                <span>{{ fetchLinkDetails(link.link_type).name }}</span>
                            </div>
                            <i class="fa fa-solid fa-arrow-right"></i>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>