<div class="auth-background">
    <div class="auth-card">
        <div class="title">
            <img src="images/logo-devlinks-large.svg" alt="">
        </div>

        <div class="auth-form">
            <div class="auth-form-center">
                <div class="title-small">
                    <img src="images/logo-devlinks-large.svg" alt="">
                </div>
                <h3 class="auth-title">Create account</h3>
                <p class="auth-desc">Let's get you started sharing your links!</p>

                <form class="auth-form-items" [formGroup]="signUpForm!" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" [ngClass]="{'error-label': (email?.invalid && (email?.touched || email?.dirty)) || registrationError}">Email address</label>
                        <div class="icon-input-group row">
                            <p-iconField iconPosition="left" class="col-sm-12">
                                <p-inputIcon styleClass="pi pi-envelope" />
                                <input type="text" id="exampleInputEmail1" pInputText placeholder="e.g alex@gmail.com" formControlName="email" class="auth-input col-sm-12" [ngClass]="{'input-error': registrationError}"/>
                            </p-iconField>
                            <span *ngIf="email?.invalid && (email?.touched || email?.dirty) && email?.hasError('required')" class="error-message">Can't be empty</span>
                            <span *ngIf="email?.invalid && (email?.touched || email?.dirty) && email?.hasError('email')" class="error-message">Not a valid email</span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" [ngClass]="{'error-label': (password?.invalid && (password?.touched || password?.dirty)) || hasPasswordMismatchError || registrationError}">Create password</label>
                        <div class="icon-input-group row">
                            <p-iconField iconPosition="left" class="col-sm-12">
                                <p-inputIcon styleClass="pi pi-lock" />
                                <input type="password" class="auth-input col-sm-12" pInputText id="exampleInputPassword1" formControlName="password" placeholder="At least 8 characters" [ngClass]="{'input-error': hasPasswordMismatchError || registrationError}">
                            </p-iconField>
                            <span *ngIf="password?.invalid && (password?.touched || password?.dirty) && password?.hasError('required')" class="error-message">Can't be empty</span>
                            <span *ngIf="password?.invalid && (password?.touched || password?.dirty) && password?.hasError('minlength')" class="error-message">Password must have 8 characters</span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword2" [ngClass]="{'error-label': (confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)) || hasPasswordMismatchError || registrationError}">Confirm password</label>
                        <div class="icon-input-group row">
                            <p-iconField iconPosition="left" class="col-sm-12">
                                <p-inputIcon styleClass="pi pi-lock" />
                                <input type="password" class="auth-input col-sm-12" pInputText id="exampleInputPassword2" formControlName="confirmPassword" placeholder="At least 8 characters" [ngClass]="{'input-error': hasPasswordMismatchError || registrationError}">
                            </p-iconField>
                            <span *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty) && confirmPassword?.hasError('required')" class="error-message">Can't be empty</span>
                            <span *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty) && confirmPassword?.hasError('minlength')" class="error-message">Password must have 8 characters</span>
                            <span *ngIf="hasPasswordMismatchError" class="error-message">Passwords don't match!</span>
                        </div>
                    </div>

                    <span class="mb-3 error-message fs-6" *ngIf="registrationError">{{ registrationError }}</span>
                    <button class="mb-3 auth-btn dark-button" [disabled]="signUpForm?.invalid" [ngClass]="{'disabled-button': signUpForm?.invalid}">Create new account</button>
                    <p class="text-center">Already have an account? <a class="dark-text" routerLink="/login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
